@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* input::placeholder {
  color: #59b9e2;
} */

/* Estilo de las flechas de los splide */
.splide__arrow {
  transform: translateY(-50%);
  top: 50%;
  background-color: #d6f2fdb0 !important;
  color: white !important;
  border-radius: 9999px;
  padding: 0.75rem;
  transition: all 0.3s ease;
}


.swiper-pagination-bullet {
  background: #a1bcc5;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #81fff9 !important;
  opacity: 1;
}

  