# Dependencias para API REST en C# (NuGet Packages)
# Uso: Ejecuta los comandos dotnet add package en la raíz del proyecto .NET para instalarlos.

# Base de datos y ORM (Entity Framework Core y PostgreSQL)
dotnet add package Microsoft.EntityFrameworkCore
dotnet add package Microsoft.EntityFrameworkCore.Tools
dotnet add package Microsoft.EntityFrameworkCore.Design
dotnet add package Npgsql.EntityFrameworkCore.PostgreSQL
dotnet add package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore
dotnet add package Microsoft.EntityFrameworkCore.Proxies

# SignalR para comunicación en tiempo real
dotnet add package Microsoft.AspNetCore.SignalR.Client
dotnet add package Microsoft.AspNetCore.SignalR

# Mensajería con RabbitMQ
dotnet add package RabbitMQ.Client

# Autenticación y autorización JWT
dotnet add package System.IdentityModel.Tokens.Jwt
dotnet add package Microsoft.AspNetCore.Authentication.JwtBearer --version 9.0.5

# Soporte para JSON avanzado en MVC
dotnet add package Microsoft.AspNetCore.Mvc.NewtonsoftJson

# Rate Limiting (Limitación de peticiones)
dotnet add package Microsoft.AspNetCore.RateLimiting

# ---------------------------------------------
# Paquetes para Unit Testing
dotnet add package Moq
dotnet add package NUnit
dotnet add package NUnit3TestAdapter

# ---------------------------------------------
# Requisitos Frontend (npm packages)
# Ejecutar en el directorio del frontend

npm install swiper                                   # Carrousel Swiper
npm install @splidejs/react-splide                   # Carrousel Splide (React)
npm install lucide-react                             # Iconos Lucide React
npm install jwt-decode                               # Decodificar JWT para frontend
npm install react-datepicker                         # Selector de fecha
npm install @types/react-datepicker --save-dev       # Tipos TypeScript para react-datepicker
npm install @heroicons/react                         # Iconos Heroicons React
npm install @headlessui/react @heroicons/react clsx  # Headlessui para componentes(combobox) y heroicons por sus iconos


# ---------------------------------------------
# Notas adicionales

# 1. Para la base de datos PostgreSQL, instalar y configurar PostgreSQL en el sistema.
# 2. Para RabbitMQ, instalar y habilitar el servicio RabbitMQ:
#    sudo apt-get install rabbitmq-server
#    sudo systemctl enable rabbitmq-server
# 3. Para ejecutar comandos dotnet, navega a la carpeta del proyecto API y ejecuta:
#    dotnet add package [NombrePaquete]
# 4. Para el frontend React, ejecuta los comandos npm dentro de la carpeta correspondiente.




# Dependencias de tailwind
npm install -D tailwindcss postcss autoprefixer
npx tailwindcss init -p