dotnet add package Microsoft.EntityFrameworkCore
dotnet add package Microsoft.EntityFrameworkCore.Tools
dotnet add package Microsoft.EntityFrameworkCore.Design
dotnet add package Npgsql.EntityFrameworkCore.PostgreSQL
dotnet add package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore
dotnet add package Microsoft.EntityFrameworkCore.Proxies
dotnet add package Microsoft.AspNetCore.SignalR.Client

dotnet add package RabbitMQ.Client
dotnet add package Microsoft.AspNetCore.SignalR
sudo apt-get install rabbitmq-server
sudo systemctl enable rabbitmq-server
dotnet add package System.IdentityModel.Tokens.Jwt
dotnet add package Microsoft.AspNetCore.Authentication.JwtBearer --version 9.0.5
pip install psycopg2-binary --break-system-packages //script crear database
dotnet add package Microsoft.AspNetCore.Mvc.NewtonsoftJson


# FRONTEND REQUIREMENTS
swiper: npm install swiper # Clase carrousel Swiper
splide.js: npm install @splidejs/react-splide # Clase carrousel Splide
lucide-react: npm install lucide-react # Iconos
npm install jwt-decode # Decodificar JWT